<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Splitter", suffix: " · Phoenix Framework" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
        <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/styles.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header style="text-align:right;">
       <section class="container">
       <div>
           Made by:<br/>
             <a href="https://github.com/daniel-szulc/" target="_blank">Daniel Szulc</a> & <a href="https://github.com/Mati-Wojtacha" target="_blank">Mateusz Wojtasiński</a>
             </div>
          <h1> <strong>BillSplitter</strong></h1>
       </section>
     </header>
    <%= @inner_content %>
  </body>
</html>
